@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

body {
  /* font-family: var(--font-sans), sans-serif; */
  font-synthesis: none;
  @apply m-0 p-0;
}

.radix-themes {
  --default-font-family: var(--font-sans);
  --heading-font-family: var(--font-heading);
  --code-font-family: var(--font-mono);
}

.rt-Heading {
  color: var(--accent-9);
}

.loading-infinity {
  pointer-events: none;
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 2.5rem;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='shape-rendering: auto;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cpath fill='none' stroke='%230a0a0a' stroke-width='10' stroke-dasharray='205.271142578125 51.317785644531256' d='M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z' stroke-linecap='round' style='transform:scale(0.8);transform-origin:50px 50px'%3E%3Canimate attributeName='stroke-dashoffset' repeatCount='indefinite' dur='2s' keyTimes='0;1' values='0;256.58892822265625'%3E%3C/animate%3E%3C/path%3E%3C/svg%3E");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}
