# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Next.js build artifacts
.next/

# JS dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# JS debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TS runtime files
*.tsbuildinfo
next-env.d.ts
